:root{
  --bg:#F6F6F6;

  --blue:#265ED7;
  --white:#FFFFFF;
  --red:#FF2D2D;
  --gray:#9D9D9D;
  --green:#4CAF50;

  --text-color-h1-screen1:#545D79;
  --text-color-h3-screen1: #575757;
  --text-color:#252525;

  --button-default:#265ED7;
  --button-hover:#8BBEF6;
  --button-active:#BCD0E7;

  --gray-text:#9D9D9D;



}
