@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: var(--bg);
}
.clear{
  clear: both;
}
h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
h3{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.el-main{
  padding: 0;
  margin: 0;
}
.full-screen{
  height: 100vh;
  width: 100%;
  margin: 0;
}
.screen{
  max-width: 1175px;
  margin: 0 auto;
  padding: 54px 0;
}
@media screen and (max-width: 1175px) {
  body{
    background: var(--white);
  }

  .screen{
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
  }
}
.el-message-box {
  display: inline-block;
  width: 577px;
}
.el-message-box__headerbtn{
  background:  url("../static/image/cancel.png") no-repeat top center;
  padding: 10px;
  width: 5px;
}

.el-message-box__headerbtn i{
  display: none;
}

.el-message-box__message {
  margin: 0;
  padding-top: 100px;
  background: url("../static/image/email.png") no-repeat top center;
  background-size: 81px;
  color:var(--text-color);
  font-weight: 700;
  text-align: center;
}
.el-message-box__message  p{
  font-weight: 700;
}

  .button .el-button {
    width: 281px;
    height: 55px;
    background: var(--button-default);
    color: var(--white);
    border-radius: 10px;
    border: none;
  }
    .el-button.el-button--default:hover{
      background: var(--button-hover);
    }
  .el-button.el-button--default:active{
      background: var(--button-active);
    }
  .el-button.el-button--default.active{
      background: var(--button-active);
    }

@media screen and (max-width: 1175px) {
  .el-message-box {

    width: 80%;
  }
}
